@font-face {
    font-family: "EuclidCircular-BoldItalic";
    src: url("./fonts/Euclid Circular B Bold.ttf");
}
@font-face {
    font-family: "EuclidCircular-Bold";
    src: url("./fonts/Euclid Circular B Bold.ttf");
}
@font-face {
    font-family: "EuclidCircular-Italic";
    src: url("./fonts/Euclid Circular B Italic.ttf");
}
@font-face {
    font-family: "EuclidCircular-Light";
    src: url("./fonts/Euclid Circular B Light.ttf");
}
@font-face {
    font-family: "EuclidCircular-LightItalic";
    src: url("./fonts/Euclid Circular B Light Italic.ttf");
}
@font-face {
    font-family: "EuclidCircular-Medium";
    src: url("./fonts/Euclid Circular B Medium.ttf");
}
@font-face {
    font-family: "EuclidCircular-MediumItalic";
    src: url("./fonts/Euclid Circular B Medium Italic.ttf");
}
@font-face {
    font-family: "EuclidCircular-Regular";
    src: url("./fonts/Euclid Circular B Regular.ttf");
}
@font-face {
    font-family: "EuclidCircular-SemiBold";
    src: url("./fonts/Euclid Circular B SemiBold.ttf");
}
@font-face {
    font-family: "EuclidCircular-SemiBoldItalic";
    src: url("./fonts/Euclid Circular B SemiBold Italic.ttf");
}

@font-face {
    font-family: "Magic";
    src: url("./fonts/Magic.ttf");
}

*{
    font-family: "EuclidCircular-Regular";
}
